
// Config
$text-size-list: (10, 12, 14);

// Generate classes
@each $size in $text-size-list {
  .#{$global-prefix-name}text--#{$size} {
    font-size: #{$size}px !important;
  }
}

.#{$global-prefix-name}text--branding {
  color: $global-color-branding;
}

.#{$global-prefix-name}text--gray {
  color: #999;
}
